.eticket .sep-bottom-3 {
  border-bottom: solid 3px #eee;
}

.eticket .sep-bottom-5 {
  border-bottom: solid 5px #eee;
}

.eticket .sep-bottom-7 {
  border-bottom: solid 7px #eee;
}

.eticket .avatar {
  border-radius: 50%;
  border: solid 1px #f5f5f5;
  background-color: #f5f5f5;
  display: inline-block;
  padding: 0;
  text-transform: uppercase;
  color: #00703c;
  text-align: center;
  font-weight: 600;
}

.eticket .avatar-sm {
  width: 32px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}

.eticket .avatar-sx {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 10px;
}

.eticket .avatar-name {
  line-height: 30px;
  display: inline-block;
}

.eticket .avatar-name .name {
  line-height: 30px;
}

.eticket .detail .sp-warning {
  background: #ffdcdc;
  color: #ff618a;
  display: inline-block;
}

.eticket .detail .btn-msg-action {
  min-width: 24px;
  min-height: 24px;
  width: 24px !important;
  height: 24px !important;
  border-color: #ccc;
  color: #666;
}

.eticket .detail .btn-msg-action i {
  width: 12px;
  height: 12px;
}

.eticket .detail .message-type {
  position: absolute;
  left: -12px;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: block;
  background: #f9f9f9;
  text-align: center;
  border-radius: 4px;
}

.eticket .detail .message-type i {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  background-image: url(/images/icons/files/gif.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
}

.eticket .detail .message-type.call.in {
  background-color: #d5f9e8;
}

.eticket .detail .message-type.call.in i {
  background-image: url(/images/icons/call_in.svg);
}

.eticket .detail .message-type.call.out {
  background-color: #d1e8ff;
}

.eticket .detail .message-type.call.out i {
  background-image: url(/images/icons/call_out.svg);
}

.eticket .detail .message-type.call.missed {
  background-color: #ffe8ee;
}

.eticket .detail .message-type.call.missed i {
  background-image: url(/images/icons/call_missed.svg);
}

.eticket .detail .message-type.call.noanswer {
  background-color: #ffeae1;
}

.eticket .detail .message-type.call.noanswer i {
  background-image: url(/images/icons/call_noanswer.svg);
}

.eticket .detail .message-type.email.in {
  background-color: #ffeae1;
}

.eticket .detail .message-type.email.in i {
  background-image: url(/images/icons/email_in.svg);
}

.eticket .detail .message-type.email.out {
  background-color: #d1e8ff;
}

.eticket .detail .message-type.email.out i {
  background-image: url(/images/icons/email_out.svg);
}

.eticket .detail .message-type.note {
  background-color: #ffeae1;
}

.eticket .detail .message-type.note i {
  background-image: url(/images/icons/files/txt.svg);
}

.eticket .detail .message-reply .input-area {
  background: #fff;
  padding: 10px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.eticket .detail .message-reply .input-area .buttons span {
  cursor: pointer;
  color: #666;
}

.eticket .detail .message-reply textarea {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  resize: none;
}

.eticket .detail .message-reply textarea:focus,
.eticket .detail .message-reply input:focus {
  outline: none;
}

.eticket .detail .message-reply textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.eticket .text-gray {
  color: #888;
}

.eticket .text-red {
  color: #f00;
}

.eticket .status {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.eticket .processing {
  background: #e48203;
  color: #fff;
}

.eticket .dx-texteditor {
  height: 25px;
}

.eticket .dx-dropdownbox {
  border: none !important;
  text-decoration: none;
}

.eticket .dx-dropdowneditor-input-wrapper {
  border-bottom: none !important;
  text-decoration: none;
}

.eticket .dx-texteditor-container {
  background: #fff;
  border: solid 1px #444;
  border-radius: 2px;
  text-decoration: none;
  outline: none;
}

.eticket .dx-texteditor-input-container {
  background: #fff;
  border: none;
  outline: none;
}

.eticket .dx-dropdowneditor-input-wrapper {
  border: none;
  outline: none;
}

.eticket .dx-placeholder {
  color: #333 !important;
}

.eticket .dx-texteditor-label {
  color: #333;
}

.eticket .dx-texteditor-input {
  background: #fff;
  border: none;
  outline: none;
}

.eticket .dx-texteditor-input:focus {
  outline: none;
}

.eticket .dx-button {
  height: 25px;
  min-height: 25px;
}

.eticket .dx-button-content {
  height: 25px;
}

.eticket .dx-button-has-icon {
  border-radius: 0 !important;
}

.eticket .dx-button-text {
  text-transform: none !important;
}

.eticket .tag-list .tag {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: #999;
  padding-left: 5px;
  padding-right: 5px;
}

.eticket .tag-list .tag:nth-child(1) {
  background-color: #3abfbf;
}

.eticket .tag-list .tag:nth-child(2) {
  background-color: #b07cc9;
}

.eticket .tag-list .tag:nth-child(3) {
  background-color: #dbcf60;
}

.eticket .tag-list .tag:nth-child(4) {
  background-color: #e0e;
}

.eticket .tab-ctn-1 {
  color: #f5f5f5;
}

.eticket .tab-ctn-1 .dx-tabs {
  background-color: transparent;
}

.eticket .tab-ctn-1 .dx-item-content {
  background-color: #00703c;
  color: #0e223d;
  height: 30px;
}

.eticket .tab-ctn-1 .dx-item-content .menu-item {
  height: 30px;
}

.eticket .tab-ctn-1 .dx-tab {
  background-color: #00703c;
  color: #0e223d;
  padding-bottom: 4px;
}

.eticket .tab-ctn-1 .dx-tab.dx-item .dx-tab-text {
  border-bottom: solid 2px transparent;
  font-weight: bold;
  font-size: 1.1em;
}

.eticket .tab-ctn-1 .dx-tab-selected {
  border: none;
  background-color: #fff;
  border-bottom: solid 2px #00703c;
}

.eticket .tab-ctn-1 .dx-tab-selected:before {
  content: none;
}

.eticket .tab-ctn-1 .dx-tab-selected .dx-tab-content {
  border: none;
  background-color: #fff;
  color: #00703c;
}

.eticket .tab-ctn-1 .dx-tab-selected .dx-tab-content .dx-tab-text {
  background-color: #fff;
}

.eticket .tab-ctn-2 {
  color: #f5f5f5;
}

.eticket .tab-ctn-2 .dx-tabs {
  background-color: transparent;
}

.eticket .tab-ctn-2 .dx-item-content {
  background-color: transparent;
  color: #0e223d;
  height: 30px;
}

.eticket .tab-ctn-2 .dx-tab {
  background-color: transparent;
  color: #0e223d;
  padding-bottom: 4px;
}

.eticket .tab-ctn-2 .dx-tab.dx-item .dx-tab-text {
  margin-top: 10px;
  border-bottom: none;
  font-weight: bold;
  font-size: 1.1em;
  background-color: transparent;
}

.eticket .tab-ctn-2 .dx-tab-selected {
  border: none;
}

.eticket .tab-ctn-2 .dx-tab-selected:before {
  content: none;
}

.eticket .tab-ctn-2 .dx-tab-selected .dx-tab-content {
  border: none;
  background-color: transparent;
  color: #00703c;
}

.eticket .tab-ctn-2 .dx-tab-selected .dx-tab-content .dx-tab-text {
  background-color: #eaf9f2;
  padding-left: 10px;
  padding-right: 10px;
}

.eticket .attachment {
  background-color: #eee;
  position: relative;
  border-radius: 3px;
  display: inline-block;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 17px 3px 7px;
  white-space: nowrap;
}

.eticket .attachment a {
  color: #333;
}

.eticket .attachment a:hover {
  opacity: 0.7;
}

.eticket .attachment a.remove {
  position: absolute;
  right: 3px;
  top: 5px;
}

.dx-icon-custom-reply {
  background-image: url(/images/icons/reply.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-doc {
  background-image: url(/images/icons/files/doc.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-docx {
  background-image: url(/images/icons/files/docx.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-xls {
  background-image: url(/images/icons/files/xls.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-xlsx {
  background-image: url(/images/icons/files/xlsx.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-zip {
  background-image: url(/images/icons/files/zip.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-pdf {
  background-image: url(/images/icons/files/pdf.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-rar {
  background-image: url(/images/icons/files/rar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-txt {
  background-image: url(/images/icons/files/txt.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-ppt {
  background-image: url(/images/icons/files/ppt.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-pptx {
  background-image: url(/images/icons/files/pptx.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-gif {
  background-image: url(/images/icons/files/gif.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.eticket-list .dx-layout-manager .dx-field-item {
  padding-bottom: 0px;
}

.eticket-list .dx-item.dx-list-item .dx-box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=eticket.css.map */