.dx-field-item-label {
  min-width: 200px;
}

.Tab_CustomerDetail {
  .form-test {
    .normal-content.dx-form.dx-widget.dx-visibility-change-handler {
      padding-left: 25px !important;
      padding-right: 50px !important;
    }
  }
}
