.header {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.breakcrumb {
  display: flex;
  align-items: center;
}

.breakcrumb p {
  padding-right: 10px;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.list-button {
  display: flex;
}

.list-button .dx-button {
  padding: 6px 15px;
  margin-left: 5px;
}
.dx-form-group-caption {
  display: block;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.dx-tagbox {
  height: auto !important;
}
