.dx-popup-content {
  .grid-history {
    .dx-datagrid-header-panel {
      display: none;
    }
  }

  .popup-history-title {
    color: #0e223d;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
