.Content_Managent {
  .header-layout {
    justify-content: space-between;
  }
}

// .dx-htmleditor.dx-htmleditor-outlined .dx-htmleditor-content {
//   display: none;
// }
.Email_title .dx-htmleditor-content {
  line-height: 0.2 !important;
  padding: 13px 15px !important;
}
